<div class="container">
  <div class="row">
    <% @haikus.each do |haiku| %>
      <%= link_to haiku do %>
        <div class="col-md-3 margin-top-5per article-block">
          <div class="padding-bottom-15">
            <p class="title"><%= haiku.body %></p>
            <p class="title"><%= haiku.body %></p>
            <span>
              <%= haiku.created_at.strftime("%Y年%m月%d日 %H時%M分") %>
            </span>
          </div>
        </div>
      <% end %>
    <% end %>
    </div>
</div>