<div class="container">
  <div class="row">
    <% @haikus.each do |haiku| %>
      <%= link_to haiku do %>
        <div class="col-md-3 margin-top-5per article-block">
          <div class="padding-bottom-15">
            <p class="title tate"><%= haiku.body %></p>

          </div>
        </div>
      <% end %>
    <% end %>
    </div>
</div>