<div class="container">
  <div class="col-md-12 margin-top-5per article-block">
    <h1 class="text-center">俳句の新規作成</h1>
    <div class="padding-bottom-15 margin-top-5per">
      <%= render "form", haiku: @haiku %>
    </div>
  </div>
</div>